.order-image{
    width: 100%;
}

.order-quantity{
    margin: auto 0;
    text-align: right;
}

#orders a:hover, #orders a:visited{
    color: #212529;
}

.order-quantity input{
    width: 70%;
    margin-left: auto;
}

.remove-item{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.remove-item:hover{
    font-weight: bold;
}

#order-confirm{
    text-align: right;
}

#order-confirm a{
    width: 14%;
}

.row{
    padding: 3% 0;
}

.row:hover{
    background-color: rgba(175, 173, 173, 0.1);
}