.order-image{
    width: 100%;
}

.order-quantity{
    margin: auto 0;
    text-align: right;
}

.order-div{
    margin-bottom: 5%;
    border-left: 1px solid rgba(33, 37, 41, .2);
}

#orders{
    margin-left: 2%;
}

#orders a:hover, #orders a:visited{
    color: #212529;
}