.show-password{
    height: 24px;
    padding-top: 4px;
}

input{
    margin-bottom: 3%;
}

#sign-in-image img{
    width: 100%;
    border-radius: 50%;
}

#sign-in-image{
    margin-top: 7%;
}

#sign-in-form{
    margin-top: 15%;
}

#sign-up-form{
    margin-top: 10%;
}